<app-header></app-header>
<div class="queryBar">
    <input class="idSearchInput input" [(ngModel)]="searchId" placeholder="Product ID" (keyup)="onSearch()" />
    <input class="searchInput input" [(ngModel)]="searchName" placeholder="Product Name" (keyup)="onSearch()" />
    <select class="searchCategory select" [(ngModel)]="selectedCategory" name="Category" (change)="onSearch()"
        style="width: 120px; font-size: 0.9em">
        <option value="">All</option>
        @for (category of categoryOptions(); track category) {
            <option [value]="category">
                {{ category }}
            </option>
        }
    </select>
</div>

<div id="resultsCount" class="results-count">
    Showing {{searchResult().length === 0 ? 0 : ((currentPage - 1) * maximumProductPerPage) + 1}}-{{Math.min(currentPage * maximumProductPerPage, this.searchResultCount())}} of {{this.searchResultCount()}} results
</div>
<div id="searchResults" class="homepage-results">
    @for (product of searchResult(); track product.id) {
        <app-product-box [product]="product">
        </app-product-box>
    }
</div>

<app-pagination [currentPage]="currentPage" [totalPages]="totalPages()" (pageChange)="onPageChange($event)"></app-pagination>
<app-footer></app-footer>