<div class="signin-page">

  <button class="back-to-home" (click)="backToHomePage()">
    ← Back to Home
  </button>
  
  <div class="signin-box">

    <img src="favicon.ico" alt="amazon-logo">

    <span class="signin-brand">{{ getAuthString() }}</span>

    <div class="social-media-buttons">
      <button class="btn btn-google" (click)="onSignInWithGoogle()"><img src="google_logo_icon_169090.ico" alt="sign in with google">{{getAuthString()}} with Google</button>
      <button class="btn btn-facebook"><img src="facebook_logo_icon_147291.ico" alt="sign in with facebook">{{getAuthString()}} with Facebook</button>
      <button class="btn btn-apple"><img src="social_apple_mac_65.ico" alt="sign in with apple">{{getAuthString()}} with Apple</button>
      <p class="or-line">or {{getAuthString()}} with Email</p>
    </div>

    <form (submit)="onAuth($event)">
      @if (!pageSignIn()) {
        <input [formControl]="userName" type="text" class="signin-username" placeholder="Name" required/>
        <input [formControl]="userSurname" type="text" class="signin-username" placeholder="Surname" required/>
      }
      <input [formControl]="userEmail" class="signin-username" type="email" placeholder="Email" required/>
      @if (!pageSignIn()) {
        <input [formControl]="userPhoneNumber" type="tel" class="signin-username" placeholder="Phone number" required/>
      }
      <input [formControl]="userPassword" class="signin-password" type="password" placeholder="Password" required/>
      <span [style.display]="errorString().length === 0 ? 'none' : 'block'" class="error-message">{{errorString()}}</span>
      <button class="signin-button" type="submit">{{ getAuthString() }}</button>  
    </form>

    @if (pageSignIn()) {
      <div>
        If you don't have an account, <span class="bottom-signup" (click)="pageSignIn.set(!pageSignIn())">Sign Up</span>
      </div>
    } @else {
      <div #signUp>
          Already have an account?,  <span class="bottom-signin" (click)="pageSignIn.set(!pageSignIn())">Sign In</span>
      </div>
    }

  </div>
</div>  
