<button
class="pagination-btn"
[disabled]="currentPage === 1"
(click)="onPageChange(1)">
<<
</button>
<button
class="pagination-btn"
[disabled]="currentPage === 1"
(click)="onPageChange(currentPage - 1)">
<
</button>

@if (pageRange().startPage > 1) {
    <ng-container>
    <button
        class="pagination-btn"
        [class.active]="currentPage === 1"
        (click)="onPageChange(1)">
        1
    </button>
    </ng-container>
}

@if (pageRange().startPage > 2) {
    <span class="pagination-ellipsis">...</span>
}

@for (page of pageNumbers(); track page) {
    <button
    class="pagination-btn"
    [class.active]="page === currentPage"
    (click)="onPageChange(page)">
    {{ page }}
    </button>
}

@if (pageRange().endPage < totalPages - 1) {
    <span class="pagination-ellipsis">...</span>
}

@if (totalPages > maxPagesToShow) {
    <ng-container>
    <button
        class="pagination-btn"
        [class.active]="currentPage === totalPages"
        (click)="onPageChange(totalPages)">
        {{ totalPages }}
    </button>
    </ng-container>
}


<button
class="pagination-btn"
[disabled]="currentPage === totalPages"
(click)="onPageChange(currentPage + 1)">
>
</button>
<button
class="pagination-btn"
[disabled]="currentPage === totalPages"
(click)="onPageChange(totalPages)">
>>
</button>